<!-- <app-header></app-header><br> -->
    <div class="search-hero">
      <label for="">Search Here:</label>&nbsp;
      <input type="text" name="search" [(ngModel)]="searchText" placeholder="Type to search">
      <table class="table table-bordered table-hover">
    <thead class="table-primary">
      <th>ID</th>
      <th>Username</th>
      <th>PaymentDate</th>
      <th>Principal</th>
      <th>projectedInterest</th>
      <th>PaymentStatus</th>
      <th>PaymentAmount</th>
    </thead>
    <tbody class="table-active">
      <tr *ngFor="let item of tobj | filter:searchText;">
        <td class="table-primary">{{item.paymentId}}</td>
         <td>{{item.username}}</td>
        <td>{{item.paymentDate}}</td>
        <td>{{item.principal | number:'1.2-2'}}</td>
        <td>{{item.projectedInterest | number:'1.2-2'}}</td>
        <td>{{item.paymentStatus}}
          <button (click)="onPay(item.username)">pay</button>
        </td>
        <td>{{item.paymentAmount | number:'1.2-2'}}</td>
      </tr>
    </tbody>
</table>
    </div>