<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" style="color: white" routerLink="/">TRUSTED LOAN</a>
    <div class="collapse navbar-collapse">
        <div class="navbar-nav  ml-auto">
          <a routerLink="/DashBoard" style="cursor: pointer; font-weight: bold; color: whitesmoke" class="nav-item nav-link">DashBoard</a >
          <a routerLink="/ApplyLoan" style="cursor: pointer; font-weight: bold; color: whitesmoke" class="nav-item nav-link">ApplyLoan</a >
          <a routerLink="/LoanDetails" style="cursor: pointer; font-weight: bold; color: whitesmoke" class="nav-item nav-link">LoanDetails</a >
          <a routerLink="/Exit" style="cursor: pointer; font-weight: bold; color: whitesmoke" class="nav-item nav-link">Exit</a >
      </div>
    </div>
</nav>