<app-header></app-header>
<br>

<div class=" container col-sm-6 col-md-6 col-lg-6">
    <h1 style="font-size: large;" for="">Enter Your Details</h1>
    <form #f="ngForm" (ngSubmit)="onApply(f)">
        <div class="form-group">
            <mat-form-field appearance="outline" class="myclass" [color]="'accent'">
                <mat-label for="">Username</mat-label>
                <input style="height: 20px;" matInput #username="ngModel" ngModel name="username" type="text" minlength="3" maxlength="20"
                placeholder="Enter the full name" [pattern]="name_pattern" required>
                <mat-error *ngIf="username.touched && !username.valid">Please Enter valid userame</mat-error>
                <!-- <mat-error *ngIf="">Please Enter the userame</mat-error> -->
                <mat-error *ngIf="username.errors?.pattern">Please enter alphabets only</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="myclass" [color]="'accent'">
                <mat-label for=""> Amount</mat-label>
                <input style="height: 20px;" matInput #laonAmount="ngModel" ngModel name="laonAmount" type="text" placeholder="Enter the laonAmount" [pattern]="amount_pattern" required>
                <mat-error *ngIf="laonAmount.touched && !laonAmount.valid">Please Enter the laon Amount</mat-error>
                <mat-error *ngIf="laonAmount.errors?.pattern">Please Enter numbers only</mat-error>
            </mat-form-field>
             <mat-form-field appearance="outline" class="myclass" [color]="'accent'">
                <mat-label for="">Loan Period</mat-label>
                <mat-select required #loanPeriod="ngModel" ngModel name="loanPeriod" placeholder="Select the loan period">
                    <mat-option>---</mat-option>
                    <mat-option *ngFor="let item of loanPeriodSelect; index as i" [value]="item">
                        {{(i+1)+" Year ("+item+" Months )"}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="loanPeriod.touched && !loanPeriod.valid">Please select the loan period</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="myclass" [color]="'accent'">
                <mat-label for="">Loan start in</mat-label>
                <input style="height: 20px;" matInput #loanStartDelay="ngModel" ngModel name="loanStartDelay" type="text" placeholder="Enter number 0-10"
                 min="0" max="10" required>
                <mat-error *ngIf="loanStartDelay.touched && !loanStartDelay.valid">Please Enter the loan start day within 10 days</mat-error>
                <!-- <mat-error *ngIf="loanStartDelay.errors?.pattern">Please Enter numbers only</mat-error> -->
            </mat-form-field>
            <mat-form-field appearance="outline" class="myclass" [color]="'accent'">
                <mat-label for="">Payment Frequency</mat-label>
                <mat-select required #paymentFrequency="ngModel" ngModel name="paymentFrequency" placeholder="Select the paymentFrequency">
                    <mat-option>---</mat-option>
                    <mat-option *ngFor="let item of paymentFreq; index as i" [value]="item">
                        {{item +" Months "}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="paymentFrequency.touched && !paymentFrequency.valid">Please select the paymentFrequency</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="myclass" [color]="'accent'">
                <mat-label for="">Interest Rate</mat-label>
                <input style="height: 20px;" matInput #interestRate="ngModel" ngModel name="interestRate" type="text" placeholder="Enter the interestRate"
                [pattern]="interestPattern" min="1" max="10" required>
                <mat-error *ngIf="interestRate.touched && !interestRate.valid">Please Enter the interestRate</mat-error>
                <mat-error *ngIf="interestRate.errors?.pattern">Please Enter numbers only</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="myclass" [color]="'accent'">
                <mat-label for="">payment Term</mat-label>
                <mat-select required #paymentTerm="ngModel" ngModel name="paymentTerm" placeholder="Select the paymentTerm">
                    <mat-option>---</mat-option>
                    <mat-option *ngFor="let item of paymentTermSelect; index as i" [value]="item">
                        {{item}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="paymentTerm.touched && !paymentTerm.valid">Please select the paymentTerm</mat-error>
            </mat-form-field>
           <button class="btn btn-success">Apply</button> &nbsp;
          </div>
      </form>
</div>
